body{
	background-color: #F2F2F2;
}
.block{
	display: flex;
	align-items: center;
	justify-content: center;
}
.box1{
	width: 300px;
	height: 400px;
	
	border-color: aqua;
		
		border-radius: 5px;
		background-color: #FFFFFF;
		padding: 20px;
	
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-image: url('https://static.runoob.com/images/mix/searchicon.png');
  background-position: 2px 10px; 
  background-repeat: no-repeat;
}
input[type=submit] {
  width: 100%;
  background-color:	#6495ED;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
img{
	width: 90px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}	
p{
	text-align: center;
	font-size: 25px;
}